{% extends 'base.html.twig' %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" style="font-family: 'Permanent Marker', cursive; color : white; font-size: 25px" href="{{ path('products') }}">Sneak'Addict </a>  <p style="color : white; font-size : small">Admin<p>
</nav>
{% endblock %}
{% block body %}
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href=>Mon compte</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={{path('product-admin')}}>Les produits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={{path('users-admin')}}>Les utilisateurs</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href={{path('orders-admin')}}>Les commandes</a>
  </li>
</ul>
    <div>
                   <table class="table">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom complet</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
        <tbody>
        {% for user in users %}
            <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.nom}} {{user.prenom}}</td>
            <td>{{user.email}}</td>
            <td><button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Plus d'infos </button> <button class="btn btn-primary"> Supprimer </button></td>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Informations personelles</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Nom complet : {{user.nom}} {{user.prenom}}
                        <br>
                        Adresse e-mail : {{user.email}}
                        <br>
                        Sexe : {{user.sexe}}
                        <br>
                        <br>
                        
                        <h8><b>Commandes passées</b> </h8>
                            <br>
                          {% for detail in user.commandes %}
                          <p>Commande {{detail.id}} - Statut : <b>{{ detail.statut }}</b> - <a data-toggle="modal" data-target="#exampleModalCenter" href="">Détails de la commande<p></a>
                          <div style ="margin-top : 80px"class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalCenterTitle">Détails de la commande</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  {% for sneakerd in user.commandes %}
                                    {% for detail in sneakerd.produits %}
                                    <div class="media">
                                    <img src={{asset('images/white-shoes.jpeg')}} style="width : 60px; height : 60px" class="mr-3" alt="...">
                                    <div class="media-body">
                                      <h5 class="mt-0">{{ detail.titre}} - Hydro Bak 541E</h5>
                                      Quantité : 1 - Prix : {{detail.prix}} €
                                    </div>
                                  </div>
                                      <br>
                                  {% endfor %}
                                  {% endfor %}
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                  
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                    </div>
                </div>
                </div>
            </tr>
            {% endfor %}
        </tbody>
        </table>
           </div>
{% endblock %}